<template>
  <header id="header">
    <the-navbar />
  </header>
</template>

<script>
import TheNavbar from '../../blocks/Navbar/TheNavbar';
export default {
  name: 'TheHeader',
  components: {TheNavbar}
}
</script>

<style scoped>

</style>
