<template>
  <div class="w-full text-center">
    <slot name="title">
      <h2 v-if="title" class="text-2xl font-semibold pb-2">
        {{ title }}
      </h2>
    </slot>
    <slot name="sub-title">
      <span v-if="subTitle">{{ subTitle }}</span>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'Heading',
  props: {
    title: {
      type: String,
      default: null
    },
    subTitle: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped>

</style>
