<template>
  <section class="locator pt-16 pb-16">
    <div class="container">
      <heading title="Аптеки рядом с Вами" class="mb-8">
        <template v-slot:sub-title>
          Последнее обновление - 18 Окт - <span class="text-primary underline">Обновить</span>
        </template>
      </heading>

      <stores-card class="mt-16" :stores="stores" />
    </div>
  </section>
</template>

<script>
import Heading from '../../blocks/Heading/Heading';
import StoresCard from '../../blocks/Store/StoresCard';

export default {
  name: 'Locator',
  components: {StoresCard, Heading},
  data: () => ({
    stores: [
      {
        address: 'г.Дербент, ул. Пушкина д. 50',
        phone: '8 (928) 540-05-07',
        schedule: 'Круглосуточно',
        isRoundTheClock: true
      },
      {
        address: 'г.Дербент, пр-т. Агасиева 17а',
        phone: '8 (928) 580-55-99',
        schedule: 'Ежедневно: с 8.00 до 21.00',
        isRoundTheClock: false
      },
      {
        address: 'г.Дербент, пр-т. Агасиева 26а',
        phone: '8 (928) 570-67-27',
        schedule: 'Ежедневно: с 9.00 до 17.00',
        isRoundTheClock: false
      },
      {
        address: 'г. Дербент, ул. 345 ДСД 17',
        phone: '8 (928) 544-33-94',
        schedule: 'Круглосуточно',
        isRoundTheClock: true
      }
    ]
  })
}
</script>

<style scoped>

</style>
