<template>
  <navbar-button>
    <icon-base>
      <menu-icon />
    </icon-base>
  </navbar-button>
</template>

<script>
import NavbarButton from './NavbarButton';
import IconBase from '../Icons/IconBase'

import MenuIcon from '../../../assets/icons/elastofont/iconfinder_00-ELASTOFONT-STORE-READY_menu_2703071 1.svg'

export default {
  components: {
    NavbarButton,
    IconBase,
    MenuIcon
  }
};
</script>
