<template>
  <navbar-button>
    <icon-base>
      <cart-icon />
    </icon-base>
  </navbar-button>
</template>

<script>
import NavbarButton from './NavbarButton';
import IconBase from '../Icons/IconBase'

import CartIcon from '../../../assets/icons/elastofont/iconfinder_00-ELASTOFONT-STORE-READY_cart_2703080 1.svg'

export default {
  components: {
    NavbarButton,
    IconBase,
    CartIcon
  }
};
</script>
