<template>
  <button class="navbar__icon p-1">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'NavbarButton'
};
</script>

<style lang="scss" scoped>
  .navbar__icon {
    // @apply .d-inline-block
  }
</style>
