<template>
  <navbar-button>
    <icon-base>
      <search-icon />
    </icon-base>
  </navbar-button>
</template>

<script>
import NavbarButton from './NavbarButton';
import IconBase from '../Icons/IconBase'

import SearchIcon from '../../../assets/icons/elastofont/iconfinder_00-ELASTOFONT-STORE-READY_search_2703065 1.svg'

export default {
  components: {
    NavbarButton,
    IconBase,
    SearchIcon
  }
};
</script>
