<template>
  <nav :class="['navbar', 'flex', 'py-6', backgroundColor, textColor]">
    <div class="container mx-auto w-full flex items-center justify-between">
      <div class="flex">
        <router-link :to="localizedRoute('/')" class="navbar__logo">
          <img :src="logo" alt="АПТЕКА 149">
        </router-link>
      </div>
      <ul class="flex">
        <li>
          <search-button />
        </li>
        <li>
          <microcart-button />
        </li>
        <li>
          <hamburger-button />
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import HamburgerButton from './HamburgerButton';
import MicrocartButton from './MicorcartButton';
import SearchButton from './SearchButton';

export default {
  name: 'TheNavbar',
  props: {
    background: {
      type: String,
      default: 'primary'
    },
    color: {
      type: String,
      default: 'white'
    }
  },

  components: {
    HamburgerButton,
    MicrocartButton,
    SearchButton
  },

  computed: {
    backgroundColor () {
      return 'bg-' + this.background;
    },

    textColor () {
      return 'text-' + this.color;
    },

    logo () {
      return ('/assets/logo/logo-' +
                    (this.background === 'white' ? 'black' : 'white') +
                    '.svg');
    }
  }
};
</script>

<style scoped lang="scss">
  .navbar {
    min-height: 100px;
  }
</style>
