<template>
  <section class="bg-primary flex flex-col text-white pt-23 pb-64 leading-tight relative">
    <div class="container">
      <h1 class="intro__quote text-4xl text-center pb-5">
        Качество, <br>
        доступное каждому!
      </h1>

      <btn color="white" border="white" size="2xl" class="w-full" icon-append>
        Каталог товаров

        <template slot="icon-append">
          <arrow-icon />
        </template>
      </btn>
    </div>

    <diagonal position="bottom" />
  </section>
</template>

<script>
import Button from '../../blocks/Button/Button';
import Diagonal from '../../Diagonal';

import ArrowIcon from '../../../assets/icons/elastofont/iconfinder_00-STORE-37_3180659 1.svg'

export default {
  name: 'Intro',
  components: {
    'btn': Button,
    ArrowIcon,
    Diagonal
  },
  data: () => ({
    quote: ''
  })
}
</script>

<style scoped lang="scss">

</style>
