<template>
  <div class="carousel__items flex overflow-x-auto scrolling-touch">
    <div class="carousel__items-shadow mx-auto flex justify-start z-50">
      <product v-for="(product, index) in products" :key="'product-' + index" :product="product" />
    </div>
  </div>
</template>

<script>
import Product from './Product';

export default {
  name: 'ProductCarousel',
  props: {
    products: {
      required: true,
      type: Array
    }
  },
  components: {
    Product
  }
}
</script>

<style scoped>

</style>
