<template>
  <div class="product p-6 relative rounded-xl shadow-4xl bg-white w-full">

  </div>
</template>

<script>
export default {
  name: 'Product',
  props: {
    product: {
      type: Object,
      required: true
    },
    card: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>

</style>
