<template>
  <component
    :is="to ? 'router-link' : (href ? 'a' : 'button')"
    :to="localizedRoute(to)"
    :href="href"
    :class="buttonClass"
  >
    <span>
      <slot name="icon-prepend" />
    </span>

    <span>
      <slot>
        Кнопка
      </slot>
    </span>

    <span class="ml-auto">
      <slot name="icon-append" />
    </span>
  </component>
</template>

<script>
export default {
  name: 'Button',
  props: {
    background: {
      type: String,
      default: 'transparent',
      required: false
    },
    color: {
      type: String,
      default: 'white',
      required: false
    },
    border: {
      type: String,
      default: 'white',
      required: false
    },
    size: {
      type: String,
      default: 'lg',
      required: false
    },
    to: {
      type: String,
      default: null,
      required: false
    },
    href: {
      type: String,
      default: null,
      required: false
    },
    iconAppend: {
      type: Boolean,
      default: false
    },
    iconPrepend: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonClass () {
      let defaultClasses = [
        'button',
        'border-2',
        'border-' + this.border,
        'bg-' + this.background,
        'text-' + this.color,
        'rounded-full',
        'text-' + this.size,
        'flex'
      ];

      let size2pading = {
        '2xl': 4
      };

      defaultClasses.push([
        // 'pt-' + parseInt(size2pading[this.size]) + 1,
        // 'pb-' + parseInt(size2pading[this.size]) - 1,
        'py-' + parseInt(size2pading[this.size]),
        'pl-' + size2pading[this.size] * (this.iconPrepend ? 1 : 1.5),
        'pr-' + size2pading[this.size] * (this.iconAppend ? 1 : 1.5)
      ])

      return defaultClasses
    }
  }
}
</script>

<style scoped>

</style>
