<template>
  <div class="minimal-layout">
    <div id="viewport" class="w-100 relative">
      <slot />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Head from 'theme/head'

export default {
  data () {
    return {
      ordersData: []
    }
  },
  computed: {
    ...mapState({
      overlayActive: state => state.ui.overlay
    })
  },
  methods: {
  },
  beforeMount () {
  },
  beforeDestroy () {
  },
  metaInfo: Head,
  components: {

  }
}
</script>

<style lang="scss" src="theme/css/main.scss">

</style>
