<template>
  <div class="compare">

  </div>
</template>

<script>
import Compare from '@vue-storefront/core/pages/Compare'

import i18n from '@vue-storefront/i18n'

export default {
  components: {

  },
  mixins: [Compare],
  props: {
    title: {
      type: String,
      required: true
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.title || i18n.t('Compare Products'),
      meta: this.$route.meta.description ? [{ vmid: 'description', description: this.$route.meta.description }] : []
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
