<template>
  <div class="flex flex-row py-3 text-sm border-t">
    <div>{{ store.address }}</div>
  </div>
</template>

<script>
export default {
  name: 'StoreListItem',
  props: {
    store: {
      required: true,
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
