<template>
  <div class="bg-white rounded-xl shadow-4xl flex flex-col pt-5 pb-6 px-6">
    <div class="flex pb-3">
      <div class="text-sm font-semibold">
        Адрес
      </div>
    </div>

    <store-list-item v-for="(store, index) in stores" :key="'store-' + index" :store="store" />
  </div>
</template>

<script>
import StoreListItem from './StoreListItem';

export default {
  name: 'StoresCard',
  props: {
    stores: {
      required: false,
      default: () => ([]),
      type: Array
    }
  },
  components: {
    StoreListItem
  }
}
</script>

<style scoped>

</style>
